.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-slide {
    height: 150px;
}

.slick-prev,
.slick-next {
    z-index: 10;
    height: 100%;
    width: 40px;
    opacity: 1;
    color: #fff;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    background: linear-gradient(to right, $shadow-color, transparent);
    left: 0;
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
    background: linear-gradient(to left, $shadow-color, transparent);
    right: 0;
}

.slick-prev:before {
    content: "\e5cf";
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    transform: rotate(90deg);
    opacity: 1;
    color: #fff;
    position: absolute;
}

.slick-next:before {
    @extend .slick-prev:before;
    transform: rotate(-90deg);
    right: 10px;
}

.slick-dots {
    text-align: right;
    bottom: 5px;
    left: -10px;
}

.slick-dots li button:before {
    content: "";
    width: 7.5px;
    height: 7.49px;
    border: 1px solid #ffffff;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    border-radius: 50%;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    background-color: #fff;
    opacity: 1;
}

.slick-dots li {
    width: 7.5px;
    height: 7.49px;
    margin: 0px 2px;
}
