.cards {
    margin: 65px 140px 0px;
    padding-bottom: 140px;
    display: flex;

    &__column_big {
        width: $lg-card-width;
        margin-right: 40px;
    }

    &__card-wrap {
        margin-top: 40px;
    }
}

.card-wrap {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &_big {
        width: $lg-card-width;
        padding: 40px 30px 30px;
    }

    &_medium {
        width: $md-card-width;
    }

    &__hotel {
        box-shadow: 0px 10px 20px $dark-shade-5;
        width: $sm-card-width;
        margin-top: 40px;
        &_slide-arrow {
            height: 150px;
            box-shadow: inset 40px 0px 20px $shadow-color,
                inset -40px 0px 20px $shadow-color;
        }
        &_n888 {
            background-image: url("/assets/img/imageN888.jpg");
        }
        &_n840 {
            background-image: url("/assets/img/imageN840.jpg");
        }
    }

    &__block {
        padding: 10px 0px;
    }

    &__row {
        padding: 10px 0px;
        margin: 0px 20px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);

        &:last-child {
            border-bottom: 0px;
        }
    }
}

.single-item_no-arrows {
    box-shadow: none;

    .slick-prev:before {
        content: "";
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-slide {
    height: 150px;
}

.slick-prev,
.slick-next {
    z-index: 10;
}

.slick-prev {
    left: 10px;
}

.slick-prev:before {
    content: "\e5cf";
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    transform: rotate(90deg);
    opacity: 1;
}

.slick-next {
    right: 10px;
}

.slick-next:before {
    @extend .slick-prev:before;
    transform: rotate(-90deg);
}

.slick-dots {
    text-align: right;
    bottom: 15px;
    left: -10px;
}

.slick-dots li button:before {
    content: "";
    width: 7.5px;
    height: 7.49px;
    border: 1px solid #ffffff;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    border-radius: 50%;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    background-color: #fff;
    opacity: 1;
}

.slick-dots li {
    width: 7.5px;
    height: 7.49px;
    margin: 0px 2px;
}

.form {
    &__row {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0px;
        }

        &_flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_with-button {
            padding-top: 10px;
        }
    }

    &__item {
        margin-top: 10px;

        &:first-child {
            margin-top: 0px;
        }

        &_flex {
            display: flex;
            justify-content: space-between;
        }
    }

    &__header {
        margin-bottom: 20px;

        &_left {
            display: flex;
        }
    }
}

span.room-number {
    font-weight: bold;
    font-family: Montserrat;
}

h2.room-number {
    display: inline-block;
    //   font-family: Montserrat;
    margin: 0px 5px;
    line-height: 22px;
}

h3.room-class {
    color: $purple;
    line-height: 24px;
}

span.price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $dark-shade-50;

    &-period {
        font-size: 12px;
        color: $dark-shade-50;
    }
}

.service-product {
    display: inline-flex;
    align-items: baseline;
    color: $dark-shade-75;
}

span.service-name {
    width: 214px;
    margin-right: 5px;
    display: inline-block;
}

.service-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    color: $dark-shade-25;
    cursor: pointer;
}

span.service-name,
span.service-cost {
    color: $dark-shade-75;
}

.dotted {
    list-style: none;
}

.dotted li {
    margin-bottom: 5px;
    border-bottom: 1px dotted $dark-shade-25;
    font-size: 26px;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dotted li h2:nth-child(odd) {
    padding-right: 5px;
}

.dotted li h2:nth-child(even) {
    padding-left: 5px;
}

.dotted h2 {
    background: white;
    position: relative;
    bottom: -5px;
    display: inline-block;
    //   font-family: Montserrat;
}
