.cards
    .cards__column_big
        include ../card-landing/card-landing

        .cards__card-wrap
            include ../card-registration/card-registration

    .cards__column_big
        include ../card-room-details/card-room-details

        .cards__card-wrap
            include ../card-authorization/card-authorization

    .cards__column
        .card-wrap.card-wrap_medium
            input(type="text" class="none")

        .cards__card-wrap
            include ../card-hotel/card-hotel
            +cardHotel( {arrows: true, imgSrc: ['assets/img/imageN888.jpg', 'assets/img/imageN840.jpg','assets/img/imageN888.jpg', 'assets/img/imageN840.jpg'], roomNumber: "888", roomClass: 'люкс', price: "9 990₽", starNumber: 5, checkedNumber: 5, ratingNumber: 2, quantity: "145", quantityText: "Отзывов"} )

        .cards__card-wrap
            +cardHotel( {arrows: false, imgSrc: ['assets/img/imageN840.jpg', 'assets/img/imageN888.jpg', 'assets/img/imageN840.jpg','assets/img/imageN888.jpg'], roomNumber: "840", price: "9 990₽", starNumber: 5, checkedNumber: 4, ratingNumber: 1, quantity: "65", quantityText: "Отзывов"} )
