@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

// @import "../../../node_modules/air-datepicker/dist/css/datepicker.min.css";
// @import "air-datepicker";
// @import "../../../node_modules/air-datepicker/src/sass/datepicker-config";

html {
  line-height: $main-line-height;
	font-size: $main-font-size;
  color: $dark-shade-100;
  font-family: $main-font;
  font-weight: 400;
  // height: 100%;
}

h1, h2 {
  font-family: $header-font;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h1, h2, h3, p {
  margin-top: 0;
}

input {
  padding-left: 15px;
  padding-right: 15px;
  height: 44px;
}

/*
body {
  margin: 0;
  padding: 0;
//  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
*/

/* section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $lg-desktop-width) {
    padding: 36px 0;
  }
  @media screen and (max-width: $table-width) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phone-width) {
    padding: 20px 0;
  }
} */

/*
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  margin: 145px auto;
  max-width: $container-width;
  @media screen and (max-width: $sm-desktop-width) {
    max-width: table-width;
  }
  @media screen and (max-width: $table-width) {
    max-width: phone-width;
  }
  @media screen and (max-width: $phone-width) {
    max-width: sm-phone-width;
  }
}*/

// Modules
// @import "modules/my-module.scss";

// @import "modules/uikit";
@import "uikit";
