.field-pagination {
    margin-top: 16px;
    display: flex;
}

.page-number {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $dark-shade-50;

    &_active {
        background: $purple-gradient;
        border-radius: 22px;
        color: #fff;
    }

    &_next {
        @extend .page-number_active;
        background: $green-gradient;

        &:before {
            content: "\e5c8";
            font-family: Material Icons;
            font-size: 24px;
            font-weight: normal;
            color: #fff;
            position: absolute;
        }
    }
}

.decryption {
    margin-top: 10px;
    color: $dark-shade-75;
}
