extends ../layout/main-without-header-footer
include ../utils/mixins

block variables
  - var title = 'Toxin';
  - var description = 'Подготовка базовых элементов';
  - var pageClass = 'uikit-page';

block content
