input.mydatepicker + span.material-icon:before {
    content: "\e5cf";
    font-family: Material Icons;
    color: $dark-shade-50;
    position: absolute;
    font-size: 24px;
    top: -3px;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

input.none {
    display: none;
}

.mydatepicker {
    text-transform: lowercase;
}

.datepicker {
    width: 320px;
    box-sizing: border-box;
    padding: 20px;
}

.datepicker--nav {
    border: none;

    &-action {
        position: relative;

        svg {
            display: none;
        }

        &:before {
            font-family: Material Icons;
            font-size: 24px;
            line-height: 20px;
            position: absolute;
            color: $purple;
        }
    }

    &-title {
        font-family: $heading-font;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
    }
}

.datepicker--nav-action[data-action="prev"] {
    &:before {
        content: "\e5c4";
        left: 0px;
    }
}

.datepicker--nav-action[data-action="next"] {
    &:before {
        content: "\e5c8";
        right: 0px;
    }
}

// .datepicker--content {
//     font-family: $main-font;
//     font-size: 12px;
//     line-height: 15px;
// }

.datepicker--day-name {
    font-weight: bold;
    color: $purple;
}

.datepicker--cell-day {
    color: $dark-shade-50;
}

.-other-month- {
    color: $dark-shade-25;
}

.datepicker--day-name,
.datepicker--cell {
    width: 38.578px;
    height: 40px;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: 12px;
    line-height: 15px;
}

.datepicker--cell {
    border-radius: 22px;

    &.-current- {
        background: $green-gradient;
        color: #ffffff;
    }

    &:hover,
    &.-current-:hover,
    &.-selected-,
    &.-selected-:hover,
    &.-range-from-,
    &.-range-to-,
    &.-range-from-:hover,
    &.-range-to-:hover {
        background: $purple-gradient;
        color: #ffffff;
        border-radius: 22px;
    }

    &.-range-from-,
    &.-range-to- {
        position: relative;
    }

    &.-range-from-:after,
    &.-range-to-:before {
        content: "";
        width: 40px;
        height: 40px;
        background: $purple-gradient;
        opacity: 0.25;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &.-range-from-:after {
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &.-range-to-:before {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    &.-in-range- {
        background: $purple-gradient;
        opacity: 0.25;
    }
}

.datepicker--buttons {
    border: none;
}
