mixin datepicker(options)
    label
        .field-label(class=options.width)
            h3 #{options.headerTitle}
        input(type='text' class='text-field-input-enter mydatepicker ' + options.class + ' ' + options.width placeholder=options.inputPlaceholder value=options.inputValue)
        span.material-icon
