.iqdropdown {
    height: 44px;
    padding: 10px 13px;
    position: relative;
    background: #ffffff;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;

    &-content {
        min-width: 82px;
    }

    p.iqdropdown-selection {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $dark-shade-75;
        white-space: nowrap;
        overflow: hidden;
        width: 160px;
        text-overflow: ellipsis;

        &:after {
            content: "\e5cf";
            font-family: Material Icons;
            color: $dark-shade-50;
            position: absolute;
            right: 12px;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .iqdropdown-menu {
        display: none;
        border: 1px solid $dark-shade-50;
        margin-top: 8px;
        margin-left: -16px;
        padding-left: 8px;
        background-color: #fff;
        z-index: 3;
        position: relative;
    }

    &.menu-open {
        border: 1px solid $dark-shade-50;

        p.iqdropdown-selection:after {
            content: "\e5ce";
        }

        & .iqdropdown-menu {
            display: block;
            // background-color: #fff;
            // z-index: 1;
        }
    }
}

.iqdropdown-menu-option {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    align-items: center;
}

p.iqdropdown-item,
span.counter {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

span.counter {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.button-decrement,
.button-increment {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid $dark-shade-25;
    border-radius: 22px;
    cursor: pointer;
}

.icon-decrement,
.icon-increment {
    font-size: 18px;
    line-height: 22px;
    color: $dark-shade-50;
}

.iqdropdown-menu-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 13px 7px;
    cursor: pointer;
}

.iqdropdown-menu-reset {
    @extend span.counter;
    background-color: #fff;
    color: $dark-shade-50;
}

.iqdropdown-menu-apply {
    @extend span.counter;
    color: $purple;
}
