.menu {
    display: flex;
    line-height: 17px;
    margin-right: 3px;

    &__link {
        display: flex;
        color: $dark-shade-50;
        padding: 10px;

        &.active {
            font-weight: bold;
            color: $dark-shade-75;
        }
    }
}

.services {
    margin-right: 6px;
}

.drop-menu {
    line-height: 17px;
    width: 19px;
}
