ul.menu
    li.menu__item
        a.menu__link(href='#') О нас
    li.menu__item
        a.menu__link(href='#') Услуги
            <i class="material-icons drop-menu">expand_more</i>
    li.menu__item
        a.menu__link(href='#') Вакансии
    li.menu__item
        a.menu__link(href='#') Новости
    li.menu__item
        a.menu__link(href='#') Соглашения
            <i class="material-icons drop-menu">expand_more</i>
