@media (max-width: 578px) {

    .footer__column_small,
    .footer__column_large:last-child,
    .copyright p {
        display: none;
    }

    .footer__column_large {
        width: 560px;
        text-align: center;
        margin: auto;
    }

    .icons {
        margin: auto;
    }

    .copyright {
        border: none;
        box-shadow: none;
    }

    .footer__row {
        padding: 0;
    }

    .footer {
        padding: 100px 0;
    }
}