// Colors & types
$dark-shade-100: rgba(31, 32, 65, 1);
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$purple-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$background-color: rgba(229, 229, 229, 1);
$shadow-color: rgba(0, 0, 0, 0.4);

// Font
$main-font: 'Montserrat', sans-serif;
$main-font-size: 14px;
$main-line-height: 24px;
$heading-font: 'Quicksand', sans-serif;

// Size
$lg-desktop-width: 1920px;
$md-desktop-width: 1680px;
$desktop-width: 1280px;
$sm-desktop-width: 980px;
$table-width: 768px;
$phone-width: 480px;
$sm-phone-width: 320px;

$lg-dropdown-width: 320px;
$md-dropdown-width: 266px;
$sm-dropdown-width: 150px;

$lg-card-width: 380px;
$md-card-width: 320px;
$sm-card-width: 270px;

//$container-width: ((1440px-150px-191px)/$main-font-size) * 1rem;
