.container
    .color-and-type
        .color-and-type_flex
            .color-and-type__column
                +interpretation( {className: 'block_opacity_100', header: 'Dark Shade 100%', text: '#1F2041'} )
                +interpretation( {className: 'block_opacity_75', header: 'Dark Shade 75%', text: '#1F2041'} )
                +interpretation( {className: 'block_opacity_50', header: 'Dark Shade 50%', text: '#1F2041'} )
                +interpretation( {className: 'block_opacity_25', header: 'Dark Shade 25%', text: '#1F2041'} )
                +interpretation( {className: 'block_opacity_5', header: 'Dark Shade 5%', text: '#1F2041'} )
                +interpretation( {className: 'block_purple', header: 'Purple', text: '#BC9CFF'} )
                +interpretation( {className: 'block_green', header: 'Green', text: '#6FCF97'} )
            .color-and-type__column
