extends ../layout/main

block variables
  - var title = 'Toxin';
  - var description = 'Сайт о бронировании номера в гостинице';
  - var pageClass = 'index-page';

block content
  section
    .container
      +item('наименование элемента 1', 'описание элемента 1')
      +item('наименование элемента 2', 'описание элемента 2')
      +item('наименование элемента 3', 'описание элемента 3')

block scripts
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
