extends ../layout/main-without-header-footer

block variables
  - var title = 'Toxin';
  - var description = 'Подготовка базовых элементов';
  - var pageClass = 'uikit-page';

block content
  div
    svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z', fill='#1F2041', fill-opacity='0.25')

    .container-base
      .color_palette
        .block_color_info
          .block.block_dark_100
          .explanation
            h2 Dark Shade 100%
            | #1F2041
        .block_color_info
          .block.block_dark_75
          .explanation
            h2 Dark Shade 75%
            | #1F2041
        .block_color_info
          .block.block_dark_50
          +explanation('Dark Shade 50%', '#1F2041')
        .block_color_info
          .block.block_dark_25
          +explanation('Dark Shade 25%', '#1F2041')
        .block_color_info
          .block.block_dark_5
          +explanation('Dark Shade 5%', '#1F2041')
        .block_color_info
          .block.block_purple
          +explanation('Purple', '#BC9CFF')
        .block_color_info
          .block.block_green
          +explanation('Green', '#6FCF97')
      
      .text_palette
        .block_tag.block_h1 H1
        h1.block_text This one is the sub-section or widget title
        .block_tag.block_h2 H2
        h2.block_text Next one is the item title inside widgets
        .block_tag.block_h3 H3
        h3.block_text._label-text._label-text_bold._label-text_uppercase This is a label or CTA text
        .block_tag.block_p Body
        p.block_text This is the body text which is used for most of the design, like paragraphs, lists, etc.

  //-
    div
      svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z', fill='#1F2041', fill-opacity='0.25')
        path(d='M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z', fill='#1F2041', fill-opacity='0.25')
        path(d='M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z', fill='#1F2041', fill-opacity='0.25')

      .container-cards
        .find-room
          form(action="#")
            h1 Найдём номера под ваши пожелания
            .period
              .date-from
                label прибытие
                  .date-from-calendar ДД.ММ.ГГГГ
              .date-to
                label выезд
                  .date-to-calendar ДД.ММ.ГГГГ
            .guests Сколько гостей
            input(type="submit", value="подобрать номер")

        .datepicker-here
          input.datepicker-here(type='text', data-position='right top')
      input(type="text", placeholder="name")
      input.bb-date__input.js-date(type='text', placeholder='дд.мм.гг')

  div
    svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z', fill='#1F2041', fill-opacity='0.25')

    .container-form-elements
      .block-elements
        .text-fields
          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase Text Field
                ._label-text._label-text_uppercase.label_color Default
              input(type="email", placeholder="Email", class="text-field-input-enter")
          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase Text Field
                ._label-text._label-text_uppercase.label_color Hover / Focus
              input(type="text", value="This is pretty awesome", class="text-field-input-enter")
          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase Dropdown
                ._label-text._label-text_uppercase.label_color Default
              .input-dropdown.text-field-input-enter
                span Сколько гостей
                span.expand_more <i class="material-icons md-dark-50">expand_more</i>
            //-
              .iqdropdown
                p.iqdropdown-selection
                .iqdropdown-menu
                  .iqdropdown-menu-option(data-id='item1')
                    div
                      p.iqdropdown-item Item 1
                      p.iqdropdown-description A short description
                  .iqdropdown-menu-option(data-id='item2')
                    div
                      p.iqdropdown-item Item 2
                      p.iqdropdown-description A short description
                  .iqdropdown-menu-option(data-id='item3')
                    div
                      p.iqdropdown-item Item 3
                      p.iqdropdown-description A short description
              li(data-id='item1', data-defaultcount='0', data-mincount='0', data-maxcount='1')
                | ···

          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase masked text field
                ._label-text._label-text_uppercase.label_color Default
              input(type="text", placeholder="ДД.ММ.ГГГГ", class="text-field-input-enter")

            //-
              .my-datepicker
                <input type='text' class="datepicker-here" data-position="right top" />

          .text-field-input.text-field-input-flex
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase date Dropdown
              .text-field-input-enter.input-dropdown-half
                span ДД.ММ.ГГГГ
                span.material-icon <i class="material-icons md-dark-50">expand_more</i>
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase date Dropdown
              .text-field-input-enter.input-dropdown-half
                span 19.08.2019
                span.material-icon <i class="material-icons md-dark-50">expand_more</i>
          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase filter date dropdown
              .text-field-input-enter.input-dropdown-half-big
                span 19 авг - 23 авг
                span.material-icon <i class="material-icons md-dark-50">expand_more</i>
          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase subscription text field
              .text-field-input-enter.input-dropdown-half-big
                span.placeholder Email
                span.material-icon <i class="material-icons md-violet-blue">arrow_forward</i>

        .switch-fields
          .checkbox-fields.field-switches
            ._label-text._label-text_bold._label-text_uppercase Checkbox Buttons
            .input-checkbox
              div
                label
                  input(type='checkbox', name='checkbox-value', value='smoke')
                  span Можно курить
              div
                label
                  input(type='checkbox', name='checkbox-value', value='pet', checked='')
                  span Можно с питомцами
              div
                label
                  input(type='checkbox', name='checkbox-value', value='invite', checked='')
                  span Можно пригласить гостей (до 10 человек)

          .radio-fields.field-switches
            ._label-text._label-text_bold._label-text_uppercase Radio Buttons
            .input-radio
              div
                label
                  input(type='radio', name='radio-value', value='male', checked='')
                  span Мужчина
              div
                label
                  input(type='radio', name='radio-value', value='female')
                  span Женщина

          .toggle-fields.field-switches
            ._label-text._label-text_bold._label-text_uppercase Toggle
            .input-toggle
              div
                label
                  input.toggle-value(type='checkbox', name='toggle-value', value='receive', checked='')
                  .toggle
                  span Получать спецпредложения
              div
                label
                  input.toggle-value(type='checkbox', name='toggle-value', value='no-receive')
                  .toggle
                  span Получать спецпредложения

          .like-fields.field-switches
            ._label-text._label-text_bold._label-text_uppercase like button
            .input-like
              div
                label
                  input.like-value(type='checkbox', name='like-value', value='no-like')
                  .like
              div
                label
                  input.like-value(type='checkbox', name='like-value', value='like', checked='')
                  .like

          .rate-fields.field-switches
            ._label-text._label-text_bold._label-text_uppercase rate button
            .input-rate
              div
                .rate <i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star_border</i>
              div
                .rate <i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star</i><i class="material-icons md-violet-blue">star</i>



