extends ../layout/main-without-header-footer

block variables
  - var title = 'Toxin';
  - var description = 'Подготовка базовых элементов';
  - var pageClass = 'uikit-page';

block content
  section
    svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z', fill='#1F2041', fill-opacity='0.25')

    .container-base
      .color_palette
        .block_color_info
          .block.block_dark_100
          .explanation
            h2 Dark Shade 100%
            | #1F2041
        .block_color_info
          .block.block_dark_75
          .explanation
            h2 Dark Shade 75%
            | #1F2041
        .block_color_info
          .block.block_dark_50
          +explanation('Dark Shade 50%', '#1F2041')
        .block_color_info
          .block.block_dark_25
          +explanation('Dark Shade 25%', '#1F2041')
        .block_color_info
          .block.block_dark_5
          +explanation('Dark Shade 5%', '#1F2041')
        .block_color_info
          .block.block_purple
          +explanation('Purple', '#BC9CFF')
        .block_color_info
          .block.block_green
          +explanation('Green', '#6FCF97')
      
      table.text_palette
        tr.block_text_info
          td.block_text.block_h1 H1
          td
            h1 This one is the sub-section or widget title
        tr.block_text_info
          td.block_text.block_h2 H2
          td
            h2 Next one is the item title inside widgets
        tr.block_text_info
          td.block_text.block_h3 H3
          td
            h3._label-text._label-text_bold._label-text_uppercase This is a label or CTA text
        tr.block_text_info
          td.block_text.block_p Body
          td
            p This is the body text which is used for most of the design, like paragraphs, lists, etc.

  section
    svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z', fill='#1F2041', fill-opacity='0.25')

    .container-cards
      .find-room
        form(action="#")
          h1 Найдём номера под ваши пожелания
          .period
            .date-from
              label прибытие
                .date-from-calendar ДД.ММ.ГГГГ
            .date-to
              label выезд
                .date-to-calendar ДД.ММ.ГГГГ
          .guests Сколько гостей
          input(type="submit", value="подобрать номер")

      .datepicker-here
        input.datepicker-here(type='text', data-position='right top')
    input(type="text", placeholder="name")
    input.bb-date__input.js-date(type='text', placeholder='дд.мм.гг')

  section
    svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z', fill='#1F2041', fill-opacity='0.25')
      path(d='M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z', fill='#1F2041', fill-opacity='0.25')

    .container-form-elements
      .block-elements
        .text-fields
          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase Text Field
                ._label-text._label-text_uppercase.label_color Default
              input(type="email", placeholder="Email", class="text-field-input-enter")
          .text-field-input
            label
              .field-label
                ._label-text._label-text_bold._label-text_uppercase Text Field
                ._label-text._label-text_uppercase.label_color Hover / Focus
              input(type="email", value="This is pretty awesome", class="text-field-input-enter")

              .iqdropdown
                p.iqdropdown-selection
                .iqdropdown-menu
                  .iqdropdown-menu-option(data-id='item1')
                    div
                      p.iqdropdown-item Item 1
                      p.iqdropdown-description A short description
                  .iqdropdown-menu-option(data-id='item2')
                    div
                      p.iqdropdown-item Item 2
                      p.iqdropdown-description A short description
                  .iqdropdown-menu-option(data-id='item3')
                    div
                      p.iqdropdown-item Item 3
                      p.iqdropdown-description A short description
              li(data-id='item1', data-defaultcount='0', data-mincount='0', data-maxcount='1')
                | ···
