extends ../layout/main-without-header-footer

block variables
  - var title = 'Toxin';
  - var description = 'Подготовка базовых элементов';
  - var pageClass = 'uikit-page';

block content
  section
    .container_base
      .color_palette
        .block_color_info
          .block.block_dark_100
          .explanation
            h2 Dark Shade 100%
            | #1F2041
        .block_color_info
          .block.block_dark_75
          .explanation
            h2 Dark Shade 75%
            | #1F2041
        .block_color_info
          .block.block_dark_50
          +explanation('Dark Shade 50%', '#1F2041')
        .block_color_info
          .block.block_dark_25
          +explanation('Dark Shade 25%', '#1F2041')
        .block_color_info
          .block.block_dark_5
          +explanation('Dark Shade 5%', '#1F2041')
        .block_color_info
          .block.block_purple
          +explanation('Purple', '#BC9CFF')
        .block_color_info
          .block.block_green
          +explanation('Green', '#6FCF97')
      
      table.text_palette
        tr.block_text_info
          td.block_text.block_h1 H1
          td
            h1 This one is the sub-section or widget title
        tr.block_text_info
          td.block_text.block_h2 H2
          td
            h2 Next one is the item title inside widgets
        tr.block_text_info
          td.block_text.block_h3 H3
          td
            h3 This is a label or CTA text
        tr.block_text_info
          td.block_text.block_p Body
          td
            p This is the body text which is used for most of the design, like paragraphs, lists, etc.

  section
    .container
      .find-room
        form(action="#")
          h1 Найдём номера под ваши пожелания
          .period
            .date-from
              label прибытие
                .date-from-calendar ДД.ММ.ГГГГ
            .date-to
              label выезд
                .date-to-calendar ДД.ММ.ГГГГ
          .guests Сколько гостей
          input(type="submit", value="подобрать номер")
