.authorization-page {
    background-image: url("../img/background-registration.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 684px;
    padding-top: 163px;
    padding-bottom: 163px;
}

.content__card-authorization {
    display: flex;
    justify-content: center;
}
