.cards {
    margin: 65px 140px 0px;
    padding-bottom: 140px;
    display: flex;

    &__column_big {
        width: $lg-card-width;
        margin-right: 40px;
    }

    &__card-wrap {
        margin-top: 40px;
    }
}

.card-wrap {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &_big {
        width: $lg-card-width;
        padding: 40px 30px 30px;
    }

    &_medium {
        width: $md-card-width;
    }

    &__hotel {
        box-shadow: 0px 10px 20px $dark-shade-5;
        width: $sm-card-width;

        &_slide-arrow {
            height: 150px;
        }
    }

    &__block {
        padding: 11px 0px 0px;
    }

    &__row {
        padding: 10px 0 8px;
        margin: 0px 16px 0 19px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);

        &:last-child {
            border-bottom: 0px;
            margin: -1px 19px 0px 21px;
        }
    }
}

.form {
    &__row {
        margin-bottom: 20px;

        h1 {
            letter-spacing: 1px;
        }

        &_flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_with-button {
            padding-top: 10px;
            margin-top: -12px;
            margin-bottom: 32px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__item {
        margin-top: 10px;

        &:first-child {
            margin-top: 0px;
        }

        &_flex {
            display: flex;
            justify-content: space-between;
        }

        &_total {
                margin-top: 26px;
        }
    }

    &__header {
        margin-bottom: 20px;
        margin-top: 5px;

        h2.room-number {
            font-size: 24px;
            margin: 0 1px;
            line-height: 18px;
        }

        &_left {
            display: flex;
        }
    }

    &__footer_right {
        margin-top: -16px;
    }
}

.in-landing,
.in-registration {
    margin-top: 0;
}

.in-room-details {
    margin-top: -7px;
}

span.room-number {
    font-weight: bold;
    font-family: Montserrat;
}

h2.room-number {
    display: inline-block;
    margin: 0px 5px;
    line-height: 22px;
}

h3.room-class {
    color: $purple;
    line-height: 24px;
}

span.price,
span.quantity,
span.price-period,
span.quantity-text {
    color: $dark-shade-50;
}

span.price,
span.quantity {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

span.quantity {
    font-size: 15px;
}

span.price-period {
    font-size: 12px;
}

span.quantity-text {
    font-size: 13px;
}

.service-product {
    display: inline-flex;
    align-items: baseline;
    color: $dark-shade-75;
}

span.service-name {
    width: 214px;
    margin-right: 5px;
    display: inline-block;
    line-height: 18px;
}

.service-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    color: $dark-shade-25;
    cursor: pointer;
}

span.service-name,
span.service-cost {
    color: $dark-shade-75;
}

span.service-cost {
    line-height: 23px;
}

.dotted {
    list-style: none;
}

.dotted li {
    margin-bottom: 5px;
    border-bottom: 1px dotted $dark-shade-25;
    font-size: 26px;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dotted li h2:nth-child(odd) {
    padding-right: 5px;
}

.dotted li h2:nth-child(even) {
    padding-left: 5px;
    letter-spacing: -0.5px;
}

.dotted h2 {
    background: white;
    position: relative;
    bottom: -5px;
    display: inline-block;
}
