.color-and-type {
    margin: (67px/$main-font-size)*1rem (191px/$main-font-size)*1rem (145px/$main-font-size)*1rem (150px/$main-font-size)*1rem;

    &_flex {
        display: flex;
    }

    &__column {
        width: ((846px - 150px)/$main-font-size)*1rem;

        &_type {
            display: grid;
            grid-template-columns: (40px/$main-font-size)*1rem (336px/$main-font-size)*1rem;
            grid-template-rows: (60px/$main-font-size)*1rem (48px/$main-font-size)*1rem (15px/$main-font-size)*1rem (60px/$main-font-size)*1rem;
            grid-column-gap: (30px/$main-font-size)*1rem;
            grid-row-gap: (50px/$main-font-size)*1rem;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        margin-bottom: (20px/$main-font-size)*1rem;
    }
}

.block {
    width: (70px/$main-font-size)*1rem;
    height: (70px/$main-font-size)*1rem;
    border-radius: (6px/$main-font-size)*1rem;
    margin-right: (40px/$main-font-size)*1rem;
}

.block_opacity_100 {
    background-color: $dark-shade-100;
}

.block_opacity_75 {
    background-color: $dark-shade-75;
}

.block_opacity_50 {
    background-color: $dark-shade-50;
}

.block_opacity_25 {
    background-color: $dark-shade-25;
}

.block_opacity_5 {
    background-color: $dark-shade-5;
}

.block_purple {
    background-color: $purple;
}

.block_green {
    background-color: $green;
}

.explanation__h2_weight-normal {
    font-weight: normal;
}

.block_tag,
.block_text {
    align-self: start;
}

.block_tag {
    color: $dark-shade-25;
    text-align: right;
    margin-right: (30px/$main-font-size)*1rem;
    width: (40px/$main-font-size)*1rem;
}
