.content {
    min-width: 1440px;

    &__card {
        margin-top: 70px;
        float: left;
    }

    &__text {
        position: absolute;
        top: 761px;
        right: -5px;
        width: 297px;
        text-align: right;
        color: $dark-shade-75;
    }
}

.landing {
    background-image: url("../img/background-landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 830px;
}
