.registration {
    background-image: url("../img/background-registration.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding-top: 28px;
    padding-bottom: 24px;
}

.content__card-registration {
    display: flex;
    justify-content: center;
}
