.search-room {
    background-color: rgba(31, 32, 65, 0.05);

    .container {
        display: flex;
    }
}

.content {
    &__side {
        padding-top: 30px;
        margin-right: 58px;

        &_row {
            margin-bottom: 30px;

            .checkbox-fields {
                margin-top: 13px;
            }

            h3.availability {
                margin-top: -9px;
                margin-bottom: 16px;
            }

            &:first-child {
                margin-bottom: 19px;
            }
        }
    }

    &__main {
        h1 {
            margin-top: 30px;
            margin-bottom: 21px;
            letter-spacing: 0.7px;
        }
    }
}

p.explanation {
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    margin-top: 16px;
}

.checkbox-buttons .checkbox-fields div:last-child {
    max-width: 233px;
}

p.description-checkbox {
    max-width: 223px;
}

.checkbox-fields > div:first-child p.description-checkbox {
    max-width: 205px;
}

.convenience {
    margin-top: -12px;
}

.added-convenience {
        margin-top: -11px;

        .checkbox-fields {
            margin-top: 15px;

            label > div {
                margin-bottom: 9px;
            }
        }
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 16px;
}

.pagination {
    margin-top: 18px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    align-items: center;
}
