extends ../modules/utils/pug/base

include ../modules/buttons/buttons
include ../modules/text-field/text-field

block variables
    - var title = 'Toxin - uikit (cards)';
    - var description = 'Подготовка карточек';

block content
    .content-wrapper.content-wrapper_style
        .content-wrapper__logo
            +logo()

        .headers-and-footers
            .headers-and-footers__block
                include ../modules/header/header-no-authorization
            .headers-and-footers__block
                include ../modules/header/header-authorization
            .headers-and-footers__block
                include ../modules/footer/footer
            .headers-and-footers__block
                include ../modules/footer-mobile/footer-mobile
