@import "../modules/utils/scss/reset";
@import "../modules/utils/scss/fonts";
@import "../modules/utils/scss/vars";
@import "../modules/utils/scss/mixins";
@import "../modules/color-and-type/color-and-type";
@import "./uikit";

html {
    line-height: $main-line-height;
    font-size: $main-font-size;
    color: $dark-shade-100;
    font-family: $main-font;
}

h1,
h2 {
    font-family: $heading-font;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: (24px / 14px) * 1rem;
    line-height: 30px;
}

h2 {
    font-size: 19px;
    line-height: 24px;
}

h3 {
    font-size: 12px;
    line-height: 15px;
}
