extends ../modules/utils/pug/main

include ../modules/item-comfort/item-comfort
include ../modules/bullet-list/bullet-list
include ../modules/comment/comment
include ../modules/like-button/like-button

block variables
    - var title = 'Toxin - room details';
    - var description = 'Страница информации о номере';
    - var pageClass = 'room-details';

block content
    .grid-container
        .post-1
        .post-2
        .post-3
    .container
        .room
            .room__about
                .room__row
                    .room__info
                        h2 Сведения о номере
                        +itemComfort( {iconSymbol: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены'} )
                        +itemComfort( {iconSymbol: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален'} )
                        +itemComfort( {iconSymbol: 'whatshot', title: 'Уют', text: 'Номер оснащён камином'} )
                    .room__impress
                        h2 Впечатления от номера
                .room__reviews
                    h2 Отзывы посетителей номера
                    .block-comment
                        +comment( {urlImg: 'avatar.png', name: 'Мурад Сарафанов', written: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'} )
                    .block-comment
                        +comment( {urlImg: 'avatar2.png', name: 'Патрисия Стёклышкова', written: 'Неделю назад', text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'} )

                .room__regulation
                    .room__rules
                        h2 Правила
                        +bulletList( {items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'] } )
                    .room__cancel
                        h2 Отмена
                        p Бесплатная отмена в&nbsp;течение 48&nbsp;ч. После этого при отмене не&nbsp;позднее чем за&nbsp;5&nbsp;дн.&nbsp;до&nbsp;прибытия вы&nbsp;получите полный возврат за&nbsp;вычетом сбора за&nbsp;услуги.
            .room__card
                include ../modules/card-room-details/card-room-details

