extends ../modules/utils/pug/base

block variables
    - var title = 'Toxin - uikit';
    - var description = 'Подготовка базовых элементов';

block content
    .content-wrapper
        .content-wrapper__logo
            +logo()
        include ./color-and-type
    //-    include ./color-and-type.pug
    .content-wrapper
        .content-wrapper__logo
            +logo()
        include ../modules/form-elements/form-elements
    .content-wrapper.content-wrapper_style
        .content-wrapper__logo
            +logo()
        include ../modules/cards/cards
    .content-wrapper.content-wrapper_style
        .content-wrapper__logo
            +logo()
        include ../modules/headers-and-footers/headers-and-footers
