// Fonts here

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?iefix") format("eot"),
       url("../fonts/Montserrat-Regular.woff") format("woff"),
       url("../fonts/Montserrat-Regular.ttf") format("truetype"),
       url("../fonts/Montserrat-Regular.svg#montserrat") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?iefix") format("eot"),
       url("../fonts/Montserrat-Bold.woff") format("woff"),
       url("../fonts/Montserrat-Bold.ttf") format("truetype"),
       url("../fonts/Montserrat-Bold.svg#montserrat") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Quicksand-Regular.otf") format("opentype");
  src: url("../fonts/Quicksand-Regular.eot");
  src: url("../fonts/Quicksand-Regular.eot?iefix") format("eot"),
       url("../fonts/Quicksand-Regular.woff") format("woff"),
       url("../fonts/Quicksand-Regular.ttf") format("truetype"),
       url("../fonts/Quicksand-Regular.svg#quicksand") format("svg");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Quicksand-Bold.otf") format("opentype");
  src: url("../fonts/Quicksand-Bold.eot");
  src: url("../fonts/Quicksand-Bold.eot?iefix") format("eot"),
       url("../fonts/Quicksand-Bold.woff") format("woff"),
       url("../fonts/Quicksand-Bold.ttf") format("truetype"),
       url("../fonts/Quicksand-Bold.svg#quicksand") format("svg");
}
