mixin comment(options)
    .user-ui
        img.user-avatar(src='./assets/img/' + options.urlImg)
        .input-like
            +likeButton( {inputValue: 'like', inputChecked: options.inputChecked} )
    .user-comment
        .user-comment__name #{options.name}
        .user-comment__written #{options.written}
        .user-comment__text #{options.text}
