.card-wrap.card-wrap_big
    form(method='post' action='#')
        .form__header.form__row_flex
            .form__header_left
                span.room-number №
                =' '
                h2.room-number 888
                =' '
                h3.room-class люкс
            .form__header_right
                span.price 9 990₽
                =' '
                span.price-period в сутки
        .form__row.form__row_flex
            +datepicker( {headerTitle: 'прибытие', class: 'arrival', inputPlaceholder: '19.08.2019', inputValue: '19.08.2019', width: 'dropdown-width-small'} )
            +datepicker( {headerTitle: 'выезд', class: 'exit', inputPlaceholder: '23.08.2019', inputValue: '23.08.2019', width: 'dropdown-width-small'} )
        .form__row
            +dropdown( { headerTitle: 'гости', classDropdown: 'visitors', widthSize: 'dropdown-width-large', dataItem: [{optionId: 'adult', defaultcount: '2', mincount: '1', itemText: 'взрослые'}, {optionId: 'minor', defaultcount: '1', mincount: '0', itemText: 'дети'}, {optionId: 'infant', defaultcount: '0', mincount: '0', itemText: 'младенцы'}] } )
        .form__row
            .form__item.form__item_flex
                .service-product
                    span.service-name 9 990₽ х 4 суток
                span.service-cost 39 960₽
            .form__item.form__item_flex
                .service-product
                    span.service-name Сбор за услуги: скидка 2 179₽
                    span.service-info i
                span.service-cost 0₽
            .form__item.form__item_flex
                .service-product
                    span.service-name Сбор за дополнительные услуги
                    span.service-info i
                span.service-cost 300₽
            .form__item_total
                ul.dotted
                    li
                        h2 Итого
                        h2 38 081₽
        .form__row.form__row_with-button
            +buttons( {type: 'submit', buttonWidth: 'button_button-big', fill: 'button_fill-100', styleText: 'button_button-text', buttonValue: 'забронировать'} )