mixin buttons(options)
    div(class='button' + ' ' + options.fill + ' ' + options.styleText + ' ' + options.buttonWidth + ' ' + options.borderStyle + ' ' + options.transparent + ' ' + options.buttonStatus) #{options.buttonValue}
