mixin buttons(options)
    button(type=options.type class='button' + ' ' + options.fill + ' ' + options.styleText + ' ' + options.buttonWidth + ' ' + options.borderStyle + ' ' + options.transparent + ' ' + options.buttonStatus + ' ' + options.buttonName) #{options.buttonValue}
