.form-elements
    .block-elements
        .block-elements__column
            include ../text-field/text-field
            +textField( {headerTitle: 'Text Field', headerSetting: 'Default', inputType: 'email', inputPlaceholder: 'Email', inputValue: '', subscription: '', width: ''} )

            +textField( {headerTitle: 'Text Field', headerSetting: 'Hover / Focus', inputType: 'text', inputPlaceholder: '', inputValue: 'This is pretty awesome', subscription: '', width: ''} )

            include ../dropdown/dropdown
            +dropdown( { headerTitle: 'Dropdown', headerSetting: 'Default', classDropdown: 'visitors', menuOpen: '', widthSize: 'widthLarge', dataItem: [{optionId: 'adult', defaultcount: '0', mincount: '1', itemText: 'взрослые'}, {optionId: 'minor', defaultcount: '0', mincount: '0', itemText: 'дети'}, {optionId: 'infant', defaultcount: '0', mincount: '0', itemText: 'младенцы'}] } )

            +textField( {headerTitle: 'masked text field', headerSetting: 'Default', inputType: 'text', inputPlaceholder: 'ДД.ММ.ГГГГ', inputValue: '', subscription: '', width: ''} )

            .block-elements__row.block-elements__row_flex
                label
                    .field-label.widthSmall
                        h3 date Dropdown
                    .text-field-input-enter.input-dropdown.widthSmall
                        span ДД.ММ.ГГГГ
                        span.material-icon <i class="material-icons md-dark-50">expand_more</i>
                label
                    .field-label.widthSmall
                        h3 date Dropdown
                    .text-field-input-enter.input-dropdown.widthSmall
                        span 19.08.2019
                        span.material-icon <i class="material-icons md-dark-50">expand_more</i>
            .block-elements__row
                label
                    .field-label
                        h3 filter date dropdown
                    .text-field-input-enter.input-dropdown.widthMedium
                        span 19 авг - 23 авг
                        span.material-icon <i class="material-icons md-dark-50">expand_more</i>

            +textField( {headerTitle: 'subscription text field', headerSetting: '', inputType: 'email', inputPlaceholder: 'Email', inputValue: '', subscription: 'subscription', width: 'widthMedium'} )

        .block-elements__column
            .field-switches
                h3 Checkbox Buttons
                .checkbox-fields
                    include ../checkbox/checkbox
                    +checkbox( {inputValue: 'smoke', explanation: 'Можно курить', inputChecked: false} )
                    +checkbox( {inputValue: 'pet', explanation: 'Можно с питомцами', inputChecked: true} )
                    +checkbox( {inputValue: 'invite', explanation: 'Можно пригласить гостей (до 10 человек)', inputChecked: true} )

            .field-switches
                h3 Radio Buttons
                .radio-fields
                    include ../radio-button/radio-button
                    +radioButton( {inputValue: 'male', explanation: 'Мужчина', inputChecked: true} )
                    +radioButton( {inputValue: 'female', explanation: 'Женщина', inputChecked: false} )

            .field-switches
                h3 Toggle
                .toggle-fields
                    include ../toggle/toggle
                    +toggle( {inputValue: 'receive', explanation: 'Получать спецпредложения', inputChecked: true} )
                    +toggle( {inputValue: 'no-receive', explanation: 'Получать спецпредложения', inputChecked: false} )

            .field-switches
                h3 like button
                .like-fields
                    include ../like-button/like-button
                    +likeButton( {inputValue: 'no-like', inputChecked: false} )
                    +likeButton( {inputValue: 'like', inputChecked: true} )
