.form-elements
    .block-elements
        .block-elements__column
            .block-elements__row
                include ../text-field/text-field
                +textField( {headerTitle: 'Text Field', headerSetting: 'Default', inputType: 'email', inputPlaceholder: 'Email', inputValue: '', subscription: '', width: '', pattern: '([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})'} )
            .block-elements__row
                +textField( {headerTitle: 'Text Field', headerSetting: 'Hover / Focus', inputType: 'text', inputPlaceholder: '', inputValue: 'This is pretty awesome', subscription: '', width: ''} )
            .block-elements__row
                include ../dropdown/dropdown
                +dropdown( { headerTitle: 'Dropdown', headerSetting: 'Default', classDropdown: 'visitors', menuOpen: '', widthSize: 'dropdown-width-large', dataItem: [{optionId: 'adult', defaultcount: '0', mincount: '1', itemText: 'взрослые'}, {optionId: 'minor', defaultcount: '0', mincount: '0', itemText: 'дети'}, {optionId: 'infant', defaultcount: '0', mincount: '0', itemText: 'младенцы'}] } )
            .block-elements__row
                +textField( {headerTitle: 'masked text field', headerSetting: 'Default', inputType: 'text', inputPlaceholder: 'ДД.ММ.ГГГГ', inputValue: '', subscription: '', width: '', dateMasked: 'date-masked'} )
            .block-elements__row_flex
                include ../datepicker/datepicker
                +datepicker( {headerTitle: 'date Dropdown', class: 'temp', inputPlaceholder: 'ДД.ММ.ГГГГ', inputValue: 'ДД.ММ.ГГГГ', width: 'dropdown-width-small'} )
                +datepicker( {headerTitle: 'date Dropdown', class: 'temp', inputPlaceholder: 'ДД.ММ.ГГГГ', inputValue: '19.08.2019', width: 'dropdown-width-small'} )
            .block-elements__row
                +datepicker( {headerTitle: 'filter date dropdown', class: 'period', inputPlaceholder: 'ДД.ММ.ГГГГ', inputValue: '19 авг - 23 авг', width: 'dropdown-width-medium'} )
            .block-elements__row
                +textField( {headerTitle: 'subscription text field', headerSetting: '', inputType: 'email', inputPlaceholder: 'Email', inputValue: '', subscription: 'subscription', width: 'dropdown-width-medium', pattern: '([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})'} )

        .block-elements__column.block-elements__column_center
            .field-switches
                h3 Checkbox Buttons
                .checkbox-fields
                    include ../checkbox/checkbox
                    +checkbox( {inputValue: 'smoke', explanationEmpty: true, explanation: 'Можно курить', inputChecked: false} )
                    +checkbox( {inputValue: 'pet', explanationEmpty: true, explanation: 'Можно с питомцами', inputChecked: true} )
                    +checkbox( {inputValue: 'invite', explanationEmpty: true, explanation: 'Можно пригласить гостей (до 10 человек)', inputChecked: true} )

            .field-switches
                h3 Radio Buttons
                .radio-fields
                    include ../radio-button/radio-button
                    +radioButton( {inputValue: 'male', explanation: 'Мужчина', inputChecked: true} )
                    +radioButton( {inputValue: 'female', explanation: 'Женщина', inputChecked: false} )

            .field-switches
                h3 Toggle
                .toggle-fields
                    include ../toggle/toggle
                    +toggle( {inputValue: 'receive', explanation: 'Получать спецпредложения', inputChecked: true} )
                    +toggle( {inputValue: 'no-receive', explanation: 'Получать спецпредложения', inputChecked: false} )

            .field-switches
                h3 like button
                .like-fields
                    include ../like-button/like-button
                    +likeButton( {inputValue: 'no-like', inputChecked: false} )
                    +likeButton( {inputValue: 'like', inputChecked: true} )

            .field-switches
                h3 rate button
                .star-rating
                    include ../rate-button/rate-button
                    +rateButton( {starNumber: 5, checkedNumber: 4, ratingNumber: 1} )
                    +rateButton( {starNumber: 5, checkedNumber: 5, ratingNumber: 2} )

        .block-elements__column
            .range-slider
                include ../range-slider/range-slider
                +rangeSlider( {headerTitle: 'Range Slider', inputType: 'text', width: 'dropdown-width-medium'} )

            .buttons
                h3 buttons
                .field-buttons
                    .field-buttons__row
                        include ../buttons/buttons
                        +buttons( {fill: 'button_fill-100', styleText: 'button_button-text', buttonWidth: 'button_button-small', buttonValue: 'CLICK ME'} )
                        +buttons( {fill: 'button_fill-50', styleText: 'button_button-text', buttonWidth: 'button_button-small', buttonValue: 'CLICK ME'} )
                    .field-buttons__row
                        +buttons( {styleText: 'button_button-text', buttonWidth: 'button_button-small', borderStyle: 'button_border-fill-100', buttonValue: 'CLICK ME'} )
                        +buttons( {fill: '', styleText: 'button_button-text', buttonWidth: 'button_button-small', borderStyle: 'button_border-fill-50', buttonValue: 'CLICK ME'} )
                    .field-buttons__row
                        +buttons( {transparent: 'button_button-transparent', buttonWidth: 'button_button-small', buttonStatus: 'button_color-active', styleText: 'button_button-text', buttonValue: 'CLICK ME'} )
                        +buttons( {transparent: 'button_button-transparent', buttonWidth: 'button_button-small', buttonStatus: 'button_color-passive', styleText: 'button_button-text', buttonValue: 'CLICK ME'} )
                    .field-buttons__row
                        +buttons( {buttonWidth: 'button_button-big', fill: 'button_fill-100', styleText: 'button_button-text', buttonValue: 'перейти к оплате'} )

            .pagination
                h3 pagination
                include ../pagination/pagination

    .block-elements.block-dropdowns
        .block-elements__column
            .block-elements__row
                +dropdown( {headerTitle: 'Dropdown', headerSetting: 'Default', classDropdown: 'room', menuOpen: '', widthSize: 'dropdown-width-medium', dataItem: [{optionId: 'bedroom', defaultcount: 2, mincount: 1, itemText: 'спальни'}, {optionId: 'bed', defaultcount: 2, mincount: 1, itemText: 'кровати'}, {optionId: 'bathroom', defaultcount: '0', mincount: '0', itemText: 'ванные комнаты'}] } )
            +dropdown( {marginTop: 'dropdown-open', headerTitle: 'Dropdown', headerSetting: 'expanded', classDropdown: 'room', menuOpen: 'menu-open', widthSize: 'dropdown-width-medium', dataItem: [{optionId: 'bedroom', defaultcount: 2, mincount: 1, itemText: 'спальни'}, {optionId: 'bed', defaultcount: 2, mincount: 1, itemText: 'кровати'}, {optionId: 'bathroom', defaultcount: '0', mincount: '0', itemText: 'ванные комнаты'}] } )
        .block-elements__column.block-elements__column_center
            +dropdown( { headerTitle: 'Dropdown', headerSetting: '', classDropdown: 'visitors', menuOpen: 'menu-open', widthSize: 'dropdown-width-large', dataItem: [{optionId: 'adult', defaultcount: '0', mincount: '1', itemText: 'взрослые'}, {optionId: 'minor', defaultcount: '0', mincount: '0', itemText: 'дети'}, {optionId: 'infant', defaultcount: '0', mincount: '0', itemText: 'младенцы'}] } )
        .block-elements__column
            +dropdown( { headerTitle: 'Dropdown', headerSetting: '', classDropdown: 'visitors', menuOpen: 'menu-open', widthSize: 'dropdown-width-large', dataItem: [{optionId: 'adult', defaultcount: '2', mincount: '1', itemText: 'взрослые'}, {optionId: 'minor', defaultcount: '1', mincount: '0', itemText: 'дети'}, {optionId: 'infant', defaultcount: '0', mincount: '0', itemText: 'младенцы'}] } )

    .block-elements.block-checkbox
        .block-elements__column
            .checkbox-list
                include ../expandable-checkbox-list/expandable-checkbox-list
                +details( {detailsOpen: false, summaryText: 'expandable checkbox list'} )
                +details( {detailsOpen: true, summaryText: 'expandable checkbox list'} )
                    .checkbox-fields
                        +checkbox( {inputValue: 'breakfast', explanationEmpty: true, explanation: 'Завтрак', inputChecked: false} )
                        +checkbox( {inputValue: 'desk', explanationEmpty: true, explanation: 'Письменный стол', inputChecked: true} )
                        +checkbox( {inputValue: 'highchair', explanationEmpty: true, explanation: 'Стул для кормления', inputChecked: true} )
                        +checkbox( {inputValue: 'cot', explanationEmpty: true, explanation: 'Кроватка', inputChecked: true} )
                        +checkbox( {inputValue: 'TV', explanationEmpty: true, explanation: 'Телевизор', inputChecked: false} )
                        +checkbox( {inputValue: 'shampoo', explanationEmpty: true, explanation: 'Шампунь', inputChecked: false} )
                        +checkbox( {inputValue: 'TV', explanationEmpty: true, explanation: 'Телевизор', inputChecked: false} )
                        +checkbox( {inputValue: 'shampoo', explanationEmpty: true, explanation: 'Шампунь', inputChecked: false} )
        .block-elements__column.block-elements__column_center
            h3 Rich Checkbox Buttons
            .checkbox-fields
                +checkbox( {inputValue: 'wide corridor', explanationEmpty: false, richData: {title: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'}, inputChecked: false} )
                +checkbox( {inputValue: 'assistant', explanationEmpty: false, richData: {title: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.'}, inputChecked: false} )
        .block-elements__column
            h3 bullet list
            include ../bullet-list/bullet-list
            +bulletList( {items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'] } )

    .block-elements.block-comfort
        .block-elements__column
            include ../item-comfort/item-comfort
            +itemComfort( {iconSymbol: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены'} )
            +itemComfort( {iconSymbol: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален'} )
        .block-elements__column_center
            .block-comment
                include ../comment/comment
                +comment( {urlImg: 'avatar.png', name: 'Мурад Сарафанов', written: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'} )
