header.header
    .container
        .headers-and-footers__row
            .headers-and-footers__row_left
                +logoColor()
                +logoName()
            .headers-and-footers__row_right
                include ../menu/menu
                .authorization
                    .authorized Cosmin Negoita
