include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{title}
    meta(name="description", content=description)
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:400,700&display=swap&subset=cyrillic", rel="stylesheet")
    block head

  body(class=pageClass)
    .wrapper
      .content-wrapper
        block content

    block scripts