.footer {
    background-color: #fff;
    min-width: 1440px;
    box-shadow: 0px 10px 20px $dark-shade-5;
    border-top: 1px solid $dark-shade-5;

    &__row {
        padding: 100px 0px 92px;
        display: flex;
    }

    &__column {
        &_large {
            width: $lg-column-width;
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }

        &_small {
            width: $sm-column-width;
        }
    }
}

.cell {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.description {
    color: $dark-shade-75;
    padding-top: 10px;
    margin-bottom: 17px;
}

h3.menu-title {
    margin-bottom: 9px;
    margin-top: 4px;
}

li.menu-item a {
    display: block;
    padding: 10px 0px 4px;
    color: $dark-shade-50;
}

.copyright {
    color: $dark-shade-75;
    min-height: 70px;
    min-width: 1440px;
    box-shadow: 0px 10px 20px $dark-shade-5;
    border-top: 1px solid $dark-shade-5;
}

.icons {
    margin-top: 4px;
    margin-right: 1px;
}

i.fab {
    font-size: 24px;
    margin-left: 20px;
    background: $purple-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:first-child {
        margin-left: 0;
    }
}
