footer.footer
    .container.footer__row
        .footer__column_large
            .cell
                +logoColor()
                +logoName()
            .description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer__column_small
            h3.menu-title Navigation
            ul
                li.menu-item
                    a(href='#') About Us
                li.menu-item
                    a(href='#') News
                li.menu-item
                    a(href='#') Support
                li.menu-item
                    a(href='#') Products
        .footer__column_small
            h3.menu-title About Us
            ul
                li.menu-item
                    a(href='#') Who we are
                li.menu-item
                    a(href='#') Our team
                li.menu-item
                    a(href='#') Careers
                li.menu-item
                    a(href='#') Investors
        .footer__column_small
            h3.menu-title Support
            ul
                li.menu-item
                    a(href='#') Documentation
                li.menu-item
                    a(href='#') Community
                li.menu-item
                    a(href='#') Get in Touch
        .footer__column_large
            h3.menu-title Subscribe to our newsletter
            .description.cell Receive our latest news and promotions in your inbox!
            +textField( {inputType: 'email', inputPlaceholder: 'Email', inputValue: '', subscription: 'subscription', width: 'dropdown-width-medium', pattern: '([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})'} )
    .headers-and-footers__row.copyright
        p Copyright &copy; 2018 Toxin UI Kit. All rights reserved.
        .icons
            <i class='fab fa-twitter'></i>
            <i class='fab fa-facebook-square'></i>
            <i class='fab fa-instagram'></i>
