mixin itemComfort(options)
    .item-comfort
        i.material-icons.md-purple.md-48 #{options.iconSymbol}
        .item-comfort__description
            .item-comfort__description-title #{options.title}
            .item-comfort__description-text #{options.text}
